body {
    margin: 0;
    padding: 0;
    background-color: rgb(172, 242, 255);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57ebff
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 1px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(132, 255, 255);
}


a {
    text-decoration: none;
    color: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(78, 234, 255);    
}

a:hover {
    background-color: rgb(29, 229, 255); 
}

header .item:hover {
    cursor: pointer;
    background-color: rgb(0, 217, 255);
}

.main {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(196, 242, 250, 0.582);
}

.leftmenu {
    margin: 155 40 0 30;
    display: flex;
    font-size: 20px;
}

#itemform {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #3ae8ff8a;
}

#itemform input {
    width: 50px;
    margin-bottom: 10px;
}

#itemform select {
    width: 80px;
    margin-bottom: 10px;
    font-size: 17px;
}

#itemform button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 18px;
    padding: 10 15;
    background-color: #a2f4ff;
    margin: 0 10;
}

#itemform button:hover {
    background-color: #bff3fa;
}

.lots {
    margin-top: 30px;
}

.lots .head {
    display: flex;
    flex-direction: row;
    width: 1200px;
    font-size: 24px;
}

.input label {
    padding-right: 5px;
    display: inline;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(196, 255, 255);    
}

.butt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    background-color: rgb(196, 255, 255);
}

.butt:hover {
    cursor: pointer;
    background-color: rgb(92, 252, 252);
    font-size: 26px;
}