{% extends "auction/Auction.html" %}
{% load i18n %}



{% block script %}

    {% include "items/Script.js" %}
    {% include "items/on_click_set.js" %}

    function CreateLoot() {
        if (last_id == 0) return;

        var max_price = document.getElementById("max_price").value;
        var start_bet = document.getElementById("start_bet").value;

        str = "create/" + last_id + "/" + max_price + "/" + start_bet;
        window.location = str;

    }

    {% for x in items %}
        {% include "items/item_js.js" with item=x only %}
    {% endfor %}

{% endblock %}

{% block main %}



        {% include "items/stat_table.html" %}
    <div class="main">
        <div class="lots">
            <div class="head">
                <div class="info_long">
                    {% trans "Price" %}: <input id="max_price" type="int" value="100">
                </div>
                <div class="info_long">
                    {% trans "Start bid" %}: <input id="start_bet" type="int" value="0">
                </div>
                <div class="info">
                    <div class="butt" onclick="CreateLoot()">{% trans "Create" %}</div>
                </div>
                <div class="info" id="item_id">

                </div>
            </div>
        </div>
    </div>

    <div id="scrolls">

        {% for x in items %}
            {% include "items/item_small.html" with item=x only %}
        {% endfor %}

    </div>



{% endblock %}
