{% extends "auction/Auction.html" %}
{% load i18n %}


{% block script %}

    function Submit() {
        var form = new FormData(document.getElementById("itemform"));

        var tupe = form.get("item");
        var ilvl = form.get("ilvl");
        var str  = form.get("str");
        var dex  = form.get("dex");
        var vit  = form.get("vit");
        var dmg  = form.get("dmg");
        var arm  = form.get("arm");
        var dod  = form.get("dod");
        var crh  = form.get("crh");
        var max_price = form.get("max_price");



        document.cookie = "tupe =" + tupe;
        document.cookie = "ilvl =" + ilvl;
        document.cookie = "str =" + str;
        document.cookie = "dex =" + dex;
        document.cookie = "vit =" + vit;
        document.cookie = "dmg =" + dmg;
        document.cookie = "arm =" + arm;
        document.cookie = "dod =" + dod;
        document.cookie = "crh =" + crh;
        document.cookie = "max_price =" + max_price;


        window.location = "";



    }

    {% include "auction/bet_buy.js" %}

    {% include "items/Script.js" %}
    {% include "items/on_click_do_nothing.js" %}

    {% for x in loots %}
        {% include "items/item_js.js" with item=x.item_id only %}
    {% endfor %}






{% endblock %}

{% block main %}

    <div class="main">
        <div class="leftmenu">
            <form id="itemform">
                <select name="item" form="itemform">
					<option {% if filter.tupe == 69 %} selected {% endif %} value="69">All</option>
                    <option {% if filter.tupe ==  1 %} selected {% endif %} value="1">Helm</option>
                    <option {% if filter.tupe ==  0 %} selected {% endif %} value="0">Weapon</option>
                    <option {% if filter.tupe ==  2 %} selected {% endif %} value="2">Armor</option>
                    <option {% if filter.tupe ==  3 %} selected {% endif %} value="3">Offhand</option>
                  </select>
                <div class="input">
                    <label for="max_price">{% trans "Max Price" %}</label>
                    <input type="number" name="max_price" value="{{ filter.max_price }}">
                </div>
                <div class="input">
                    <label for="ilvl">{% trans "iLvl" %}</label>
                    <input type="number" name="ilvl" value="{{ filter.ilvl }}">
                </div>
                <div class="input">
                    <label for="str">{% trans "Str" %}</label>
                    <input type="number" name="str" value="{{ filter.str }}">
                </div>
                <div class="input">
                    <label for="dex">{% trans "Dex" %}</label>
                    <input type="number" name="dex" value="{{ filter.dex }}">
                </div>
                <div class="input">
                    <label for="vit">{% trans "Vit" %}</label>
                    <input type="number" name="vit" value="{{ filter.vit }}">
                </div>
                <div class="input">
                    <label for="dmg">{% trans "Dmg" %}</label>
                    <input type="number" name="dmg" value="{{ filter.dmg }}">
                </div>
                <div class="input">
                    <label for="arm">{% trans "Arm" %}</label>
                    <input type="number" name="arm" value="{{ filter.arm }}">
                </div>
                <div class="input">
                    <label for="dod">{% trans "Dod" %}</label>
                    <input type="number" name="dod" value="{{ filter.dod }}">
                </div>
                <div class="input">
                    <label for="crh">{% trans "Crh" %}</label>
                    <input type="number" name="crh" value="{{ filter.crh }}">
                </div>
                <div class="butt" onclick="Submit()">{% trans "Search" %}</div>
            </form>

        </div>
        <div class="lots">

            {% include "items/stat_table.html" %}

            <div class="head">
                <div class="item">{% trans "Item" %}</div>
                <div class="item">{% trans "iLvl" %}</div>
                <div class="item">{% trans "Current bid" %}</div>
                <div class="item">{% trans "Buyout price" %}</div>
                <div class="item">{% trans "Place bet" %}</div>
                <div class="item">{% trans "Buyout" %}</div>
            </div>
            {% for x in loots %}
                <div class ="head">
                    <div class="info">{% include "items/item_small.html" with item=x.item_id only %}</div>
                    <div class="info">{{ x.item_id.ilvl }}</div>
                    <div class="info">{{ x.next_bid }}</div>
                    <div class="info">{{ x.buy_out }}</div>
                    {% if x.biddable == True and char.gold >= x.next_bid %}<div class="butt" onclick="MakeBet({{ x.pk }})"> <b> {% trans "Place bet" %} </b> </div>{% else %}<div class="butt"> --- </div>{% endif %}
                    {% if char.gold >= x.buy_out %}<div class="butt" onclick="BuyItem({{ x.pk }})"><b>{% trans "Buyout" %}</b></div>{% else %} <div class="butt"> --- </div> {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}