{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href={% static "style.css" %}/>


    <script language="javascript">
    {% block script %}

    {% endblock %}
    </script>

    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div id="topnav">
        {% block topnav %}
            <a href="/">{% trans "Home" %}</a>
            <a href="/Auction">{% trans "Auction" %}</a>
            {% if user.is_authenticated %}
                <a href="accounts/logout">{% trans "Logout" %}</a>
            {% else %}
                <a href="accounts/login">{% trans "Login" %}</a>
            {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
            <h1>{% trans "Hello, Wellcome to this place!" %}</h1>
        {% endblock %}
    </div>
</body>
</html>