{% extends "base.html" %}
{% load i18n %}


{% block content %}

    {% if msg %}
        {{ msg }}
    {% endif %}

    {% block leftmenu %}
        <div id="sidebar">
            <ul>
                <a href=""> {% trans "Play" %}</a>
                <a href="/game/inventory/{{ char.pk }}" > {% trans "Inventory" %}</a>
            </ul>
        </div>
    {% endblock %}


    {% block main_window %}
        <h1>Hello {{ user.username }}</h1>
        <h2>{% trans "Your gold :" %} {{ char.gold }} </h2>
        <a href="/game/freegold">{% trans "Get free Gold" %}</a> <br>
        <a href="/game/getItem">{% trans "Get Item (10 Gold)" %}</a>
    {% endblock %}


{% endblock %}