{% extends "base.html" %}
{% load i18n %}


{% block header %}
        <a href="/"> {% trans "Play" %}</a>
        <a href="/game/inventory" > {% trans "Inventory" %}</a>
{% endblock %}

{% block content %}

    {% if msg %}
        {{ msg }}
    {% endif %}




    {% block main_window %}
        <h1>Hello {{ user.username }}</h1>
        <h2>{% trans "Your gold :" %} {{ char.gold }} </h2>
        <a href="/game/freegold">{% trans "Get free Gold" %}</a> <br>
        <a href="/game/getItem">{% trans "Get Item" %}</a>
    {% endblock %}


{% endblock %}