{% extends "game.html" %}

{% block script %}


    {% load static %}
    {% include "items/Script.js" %}
    {% include "items/on_click_eq.js" %}

    {% for x in items %}
        {% include "items/item_js.js" with item=x only %}
    {% endfor %}

    {% for x in eq_items %}
        {% include "items/item_js.js" with item=x only %}
    {% endfor %}





{% endblock %}



{% block main_window %}

    <div id="mono">
        {% trans "Name" %} {{ user.username }}<br>
        {% trans "Strength" %} : {{ stats.0 }}<br>
        {% trans "Dexterity" %}: {{ stats.1 }}<br>
        {% trans "Vitality" %} : {{ stats.2 }}<br>
        {% trans "Damage" %}   : {{ stats.3 }}<br>
        {% trans "Armor" %}    : {{ stats.4 }}<br>
        {% trans "Dodge" %}    : {{ stats.5 }}<br>
        {% trans "Critical" %} : {{ stats.6 }}<br>
        {% trans "Item lvl" %} : {{ ilvl }}<br>
        {% trans "Weapon" %}   : {% include "items/item_small.html" with item=eq_items.0 only %}
        {% trans "Helm" %}     : {% include "items/item_small.html" with item=eq_items.1 only %}
        {% trans "Armor" %}    : {% include "items/item_small.html" with item=eq_items.2 only %}
        {% trans "Offhand" %}  : {% include "items/item_small.html" with item=eq_items.3 only %}


    </div>


    {% include "items/stat_table.html" %}


    <div id="scrolls">

        {% for x in items %}
            {% include "items/item_small.html" with item=x only %}
        {% endfor %}

    </div>


{% endblock %}