<table class="stat_table">
    <tr>
        <td>
            Itemname
        </td>
        <td>
            iLvl
        </td>
        <td>
            Strength
        </td>
        <td>
            Dexterity
        </td>
        <td>
            Vitality
        </td>
        <td>
            Damage
        </td>
        <td>
            Armor
        </td>
        <td>
            Dodge
        </td>
        <td>
            Critical Hit
        </td>
    </tr>
    <tr>
        <td id="display_name">
            none
        </td>
        <td id="display_ilvl">

        </td>
        <td id="display_str">

        </td>
        <td id="display_dex">

        </td>
        <td id="display_vit">

        </td>
        <td id="display_dmg">

        </td>
        <td id="display_arm">

        </td>
        <td id="display_dod">

        </td>
        <td id="display_crh">

        </td>
    </tr>
</table>