<table class="stat_table">
    <tr>
        <td>
            {% trans "Itemname" %}
        </td>
        <td>
            {% trans "iLvl" %}
        </td>
        <td>
            {% trans "Strength" %}
        </td>
        <td>
            {% trans "Dexterity" %}
        </td>
        <td>
            {% trans "Vitality" %}
        </td>
        <td>
            {% trans "Damage" %}
        </td>
        <td>
            {% trans "Armor" %}
        </td>
        <td>
            {% trans "Dodge" %}
        </td>
        <td>
            {% trans "Critical Hit" %}
        </td>
    </tr>
    <tr>
        <td id="display_name">
            {% trans "none" %}
        </td>
        <td id="display_ilvl">

        </td>
        <td id="display_str">

        </td>
        <td id="display_dex">

        </td>
        <td id="display_vit">

        </td>
        <td id="display_dmg">

        </td>
        <td id="display_arm">

        </td>
        <td id="display_dod">

        </td>
        <td id="display_crh">

        </td>
    </tr>
</table>